.organization .heading {
    margin-bottom: 20px;
}
.organization .showcase {
    background: url(/img/bgs/about.jpg) no-repeat;
    background-position: left;
    background-size: cover;
    padding: 100px 0;
    margin-top: 100px;
    color: #fff;
    margin-bottom: 40px;
}
.organization .main_context p {
    /* max-width: 1000px; */
    text-align: justify;
}
.organization  .f35 {
    margin-bottom: 20px;
}
.organization .content {
    max-width: 580px;
}
.organization .content p {
    opacity: 1;
    margin-bottom: 20px;
    text-align: justify;
}
.organization .bottom_form {
    position: relative;
    padding-top: 40px;
}
.organization .bottom_form .container {
    width: fit-content;
    margin: auto;
}
.organization .bottom_form .f35 {
    text-align: center;
}
.organization .bottom_form .shape1 {
    position: absolute;
    bottom: 200px;
    left: 0;
    width: 100vw;
    height: auto;
    z-index: -1;
}
.organization .bottom_form .form_box {
    margin: auto;
    margin-top: 44px;
}
.organization .history {
    position: relative;
    text-align: center;
    margin: 80px auto;
    margin-bottom: 0 !important;
}
.organization .history .timeline {
    margin: auto;
}
.organization .history .item {
    position: absolute;
    max-width: 400px;
    font-size: 14px;
}
.organization .history .item .title {
    font-size: 20px;
    margin-bottom: 15px;
    color: #377dff;
}
.organization .history .item .title span {
    display: none;
}
.organization .history .item.left {
    left: -10px;
    text-align: right;
}
.organization .history .item.right {
    right: -27px;

    text-align: left;
}
.organization .history .item:nth-child(1) {
    top: 7.85%;
}
.organization .history .item:nth-child(2) {
    top: 27.5%;
}
.organization .history .item:nth-child(3) {
    top: 47.2%;
}
.organization .history .item:nth-child(4) {
    bottom: 25.5%;
}
.organization .history .item:nth-child(5) {
    bottom: -0.5%;
}
.we_understand {
    position: relative;
    padding: 40px 0 90px 0;
}
.we_understand .background {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: auto;
    z-index: -1;
}
.we_understand .text {
    max-width: 580px;
}
.we_understand .f35 {
    margin-bottom: 20px;
}
.we_understand p {
    margin-bottom: 15px;
    opacity: 1;
}
/* partners section */

.partners_section {
    background: #0b1725;
    color: #fff;
    padding: 40px 0 !important;
}
.partners__title {
    font-weight: 500;
    font-size: 40px;
    margin-bottom: 50px;
    text-align: center;
    letter-spacing: -0.04em;
    line-height: 125%;
    color: #fff;
}
.partners__title .gradi {
    background: linear-gradient(
        90.45deg,
        #8bfbd8 -10.59%,
        #d8ecc6 45.05%,
        #f3dbf9 98.36%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.partners__main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.partners__topic {
    line-height: 145%;
    font-size: 20px;
    margin-bottom: 10px;
}
.partners__box {
    display: grid;
    margin-bottom: 33px;
}
.partners__box.box-4 {
    margin-bottom: 53px;
    grid-template-columns: 151px 151px 151px 151px;
}
.partners__box.box-3 {
    grid-template-columns: 151px 151px 151px;
}
.partners__item {
    width: 150px;
    height: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1px;
    margin-right: 1px;
    outline: 1px solid #3c4551;
    padding: 5%;
}
.partners__logo {
    object-fit: contain;
    height: 90%;
    max-width: 90%;
    width: auto;
}
@media (max-width: 1199px) {
    .partners__main {
        flex-direction: column;
        align-items: center;
    }
    .partners__box,
    .partners__box.box-4 {
        margin-bottom: 40px;
    }
}
@media (max-width: 639px) {
    .partners__left,
    .partners__right {
        width: 100%;
    }
    .partners__topic {
        font-size: 16px;
        margin-bottom: 10px;
    }
    .partners__box.box-3,
    .partners__box.box-4 {
        width: 100%;
        grid-template-columns: repeat(auto-fill, 73px);
    }
    .partners__item {
        width: 72px;
        height: 30px;
    }
}

/* partners section end */

@media screen and (max-width: 1300px) {
    .organization .history .timeline {
        width: 580px;
    }
    .organization .history .item .title {
        font-size: 17px;
        margin-bottom: 9px;
    }
    .organization .history .item {
        max-width: 300px;
        font-size: 13px;
    }
    .organization .history .item.right {
        right: auto;
        left: 50%;
        transform: translateX(53%);
    }
    .organization .history .item.left {
        left: auto;
        right: 50%;
        transform: translateX(-51%);
    }
    .organization .history .item:nth-child(4) {
        bottom: 6.5%;
    }
    .organization .history .item:nth-child(5) {
        bottom: -12.9%;
    }
    .organization .history {
        margin-bottom: 228px;
    }
}
@media screen and (max-width: 1100px) {
    .organization .showcase {
        margin-top: 80px;
        padding: 50px 0;
    }
}
@media screen and (max-width: 1000px) {
    .organization .container {
        width: 95%;
        margin-top: 111px;
    }
}
@media screen and (max-width: 950px) {
    .organization .history .timeline {
        display: none;
    }
    .organization .history .item {
        position: relative;
        left: auto !important;
        right: auto !important;
        top: auto !important;
        bottom: auto !important;
        transform: none !important;
        text-align: left !important;
        max-width: none;
        margin-bottom: 20px;
    }
    .organization .history .item .title span {
        display: inline;
        font-size: 30px;
    }
    .organization .history {
        margin-bottom: 77px;
    }
    .we_understand .wrapper {
        flex-direction: column;
    }
    .we_understand .text {
        max-width: none;
    }
}
@media screen and (max-width: 600px) {
    .organization .container p {
        margin-bottom: 18px;
    }
    .organization .heading {
        margin-bottom: 26px;
    }
}

/* form  */
.organization form {
    max-width: 800px;
    margin-top: 50px;
    font-size: 14px;
    margin-bottom: 20px;
}

.organization form input,
.organization form select,
.organization form textarea {
    margin-bottom: 0;
    margin: 0 7px;
}

.organization form input:focus,
.organization form select:focus,
.organization form textarea:focus {
    margin-bottom: 0;
    margin: 0 7px;
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
    transition: 0.3s all;
}

.organization form .flex {
    margin-bottom: 15px;
}

.organization form .inputs label {
    width: 18%;
    flex-shrink: 0;
    opacity: 0.7;
    margin-right: 10px;
    letter-spacing: 1px;
}

.organization form .phone {
    max-width: 30%;
}

.organization form a {
    font-weight: bold;
    color: #0c41a3;
}

.organization form .check {
    justify-content: flex-start;
    flex-wrap: wrap;
}

.organization form .check .flex {
    margin-right: 20px;
    margin-bottom: 20px;
}


@media screen and (max-width: 900px) {

    .organization .form_box {
        margin-top: 40px;
    }


    .organization form .inputs .flex {
        flex-direction: column;
        align-items: flex-start;
    }

    .organization form input,
    .organization form select,
    .organization form textarea {
        margin: 0;
        margin-bottom: 10px;
    }

    .organization form .inputs label {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .organization form .phone {
        max-width: none;
    }

    .organization input[type="checkbox"] {
        margin: 0;
        margin-right: 7px;
    }
}